{% extends 'chat/base.html' %}

{% block content %}
    <form class="needs-validation" method="GET" action="javascript:redirectToRoom();">
        <label for="invite-key-input">Have an invite key? Paste it below.</label>
        <br>
        <input id="invite-key-input" class="form-control" type="text" size="100" required><br>
        <button class="btn btn-primary" type="submit">Join</button>
    </form>

    <script>
        // Redirects to room specified in input field.
        function redirectToRoom() {
            const inviteKey = document.querySelector('#invite-key-input').value;
            window.location.pathname = '/join/' + inviteKey + '/';
        }
    </script>
{% endblock %}
