{% extends 'chat/base.html' %}

{% block content %}
    <form class="needs-validation" method="GET" action="javascript:redirectToRoom();">
        <label for="invitation-key-input">Have an invitation key? Paste it below.</label>
        <br>
        <input id="invitation-key-input" class="form-control" type="text" size="100" required><br>
        <button class="btn btn-primary" type="submit">Join</button>
    </form>

    <script>
        // Redirects to room specified in input field.
        function redirectToRoom() {
            const invitationKey = document.querySelector('#invitation-key-input').value;
            window.location.pathname = '/join/' + invitationKey + '/';
        }
    </script>
{% endblock %}
