{% extends 'chat/base.html' %}

{% block content %}
    <h4>Room <b>{{ room_object.name }}</b></h4>
    <h6>Admins: {% for admin_user in room_object.admins.all %}{{ admin_user }} {% endfor %}</h6>
    <h6>Users: {% for normal_user in room_object.users.all %}{{ normal_user }} {% endfor %}</h6>

    <textarea class="form-control" id="chat-log" cols="100" rows="20"></textarea><br>
    <input class="form-control" id="chat-message-input" type="text" size="100"><br>
    <input class="btn btn-primary" id="chat-message-submit" type="button" value="Send">
    {{ room_object.name|json_script:"room-name" }}
    {{ last_messages|json_script:"last-messages" }}
    <script>
        // Room name.
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        // Chat-log textarea element.
        const chatLogEl = document.querySelector('#chat-log')

        // WebSocket instance.
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/'
            + roomName
            + '/'
        );

        // Last messages.
        lastMessagesJsonString = document.getElementById('last-messages').textContent;  // JSON string.
        const lastMessages = JSON.parse(JSON.parse(lastMessagesJsonString));            // Parses JSON to object.
        chatSocket.onopen = () => {
            Object.keys(lastMessages).forEach(key => {
                const fields = lastMessages[key]['fields']; // Base for fields values.
                const username = fields['user'][0];         // Username.
                const text = fields['text'];                // Message content.

                return chatLogEl.value += `${username}: ${text} \n`;    // Append message to textarea.
            })
        }

        chatSocket.onmessage = e => {
            const data = JSON.parse(e.data);        // Parses message data.

            const username = data.username          // Username.
            const text = data.message;              // Message content.

            chatLogEl.value += `${username}: ${text} \n`    // Append message to textarea.
        };

        chatSocket.onclose = () => {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = e => {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = () => {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'username': "{{ user.username }}",
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>
{% endblock %}
